.profile {
  margin-left: auto;
  margin-right: auto;
  width: 606px;
  background-color: rgb(221, 221, 221);
}
.description {
  text-align: center;
}
.avatar {
  border-radius: 100px;
  margin-top: 50px;
}
.name {
  font-weight: 700;
  font-size: 35px;
}
.stats li {
  border: 1px solid black;
  background-color: rgb(167, 185, 209);
  list-style-type: none;
  width: 200px;
  text-align: center;
}
.stats {
  display: flex;

  padding: 0px;
}
.label {
  display: block;
  width: 200px;
}
.quantity {
  display: block;
  width: 200px;
}
